<h1>Order</h1>
<div class="panel panel-default">
<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th style="background-color:#42c8f4">Customer/Day</th>
      <%@days.each do |day|%>
          <th style="text-align:center; background-color:#42c8f4"><%= day.name %></th>
      <%end%>
    </tr>
    <% @customers.each do |customer| %>
      <tr>
        <td style="height:100px; border-right:1px solid #d6d6d6"><%= customer.name %></td>
        <%@days.each do |day|%>
            <td style="text-align:center">
              <ol>
                <%@orders.order(order_date: :asc).each do |order| %>

                  <% if order.customer_id == customer.id %>
                    <% if order.day_data_id == day.id %>
                        <li>  <%= order.id %> - <%= link_to order.time, order_path(order) %></li>

                    <%end%>
                  <%end%>

                <%end%>
                </ol>
            </td>
        <%end%>
      </tr>
    <%end%>
  </table>
  </div>
</div>
