<center><h1>CHOOSE YOUR ROLE</h1><br><br>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">.

      <br>
      <a href="/chefs/new" class="btn btn-sq-lg btn-success">
        <i class="fa fa-user fa-5x"></i><br/><h2>
        Chef </h2><br></a>

        <!-- <a href="/brokers/new" class="btn btn-sq-lg btn-info">
          <i class="fa fa-user fa-5x"></i><br/><h3>
          Broker </h3><br></a> -->

          <a href="/runners/new" class="btn btn-sq-lg btn-warning">
            <i class="fa fa-user fa-5x"></i><br/><h2>
            Runner </h2><br></a>
          </div>

          <div class="col-sm-2"></div>
        </div>
</center>

<style>
.btn-sq-lg
{
  width: 150px !important;
  height: 150px !important;
}
</style>
