<h1>Runners</h1>
<%= form_tag runners_path, method: 'get', id: "runners_search", remote: true do %>
<div class="row">
<div class="col-sm-4"><%= text_field_tag :search_runner, params[:search_runner], class:'form-control', placeholder: "Search Runner's name" %></div>
</div>
<%end%>
<br>
<div id="runners">
  <%= render 'runners'%>
</div>
