<h1>Customers</h1>
  <%= form_tag customers_path, method: 'get', id: "customers_search", remote: true do %>
  <div class="row">
  <div class="col-sm-4"><%= text_field_tag :search_cus, params[:search_cus], class:'form-control', placeholder: "Search customer's name" %></div>
  </div>
  <%end%>
  <br>
  <div id="customers">
    <%= render 'customers' %>
  </div>
