<h1>Orders</h1>
  <div class="row">
    <%= form_tag orders_path, method: 'get', id: "orders_search", remote: true do %>

          <div class="col-sm-4"><%= text_field_tag :search, params[:search], class:'form-control', placeholder: "Search customer's name" %>
          </div>
                  <!--<div class="col-sm-2"><%= submit_tag 'Search', class: 'btn btn-success' %></div>-->
    <%end%>
  </div>
    <br>
        <div id ="orders">
          <%= render 'orders' %>
    </div>
