<h1>New Chef Assignation</h1>
<br>
<%= link_to order_path(@order.id), class: 'btn btn-success' do%><i class="fa fa-arrow-left"></i> Back<%end%><br><br>
<br>
<%= render 'form', chef_order: @order.chef_orders.build %>
