<style>
@media print{
  .no-print{
    display: none;
  }
}
</style>
<h1 class="no-print">Runner Order</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <div class='demo-area'>
        <button id="clip-button" class="btn btn-default" data-clipboard-target='#fe_text'>
          <b><i class="fa fa-clipboard"></i></b>
        </button>
        <div cols='50' id='fe_text' rows='3'>

            <% @date = params[:date] %>
            <% @dateconv = Date.parse(@date) %>
            <% @datefin = @dateconv.strftime('%d/%m/%Y') %>
            <h3>Order for <%= @runner.name %> (<%= @datefin %>)</h3>

            <div id="print">

              <% @orders.each do |order| %>
                <%= order.customer.name %> - <%= order.quantity %><br>
              <%end%>
            </div>
        </div>
  </div>
  </div>
</div>

<script>
new Clipboard('#clip-button');

</script>
