// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.placeholders h4 {
    margin-bottom: 0;
}
.text-muted {
    color: #818a91!important;
}
@media screen and (max-width: 768px){
  img{
    width:80%;
    height:80%;
  }
}
